<!--  Header Wrapper Starts  -->
<header class="header-wrapper">
    <nav class="navbar navbar-inverse navigation-wrapper">
        <div class="container-fluid">     
                <h1>Crossover Video Portal</h1>               
                <div class="dropdown dropdown-auth">
                    <button id="btn-auth" class="btn-auth dropdown-toggle" type="button" data-toggle="dropdown" role="button">
                        <!--<img class="img-responsive img-circle" src="../images/profile.png" alt="profile"/>-->
                        <i class="fa fa-user"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btn-auth">
                        <li ng-click="logout()"><a href="">Log Out</a></li>
                    </ul>
            </div>
        </div><!-- /.Container -->
    </nav>
</header>
<!--  Header Wrapper Ends  -->